.container {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 300px;
  margin-bottom: 1.45rem;
}

.backgroundImage {
  position: relative;
  min-width: 960px;
}

.lastLayer {
  display: flex;
  height: 100%;
  flex-direction: column;
}
