.container {
  background: #00a8e8;
  margin-top: auto;
}

.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.title {
  color: white;
  text-decoration: none;
}

.defaultLink {
  font-weight: bold;
  color: white;
}
