.container {
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #00a8e8 0%, #1fc8db 51%, #80f3e4 75%);
  opacity: 0.9;
  height: 100px;
}

.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.title {
  color: white;
  text-decoration: none;
}

.defaultLink {
  font-weight: bold;
  color: white;
}
